/*rgba(16, 27, 49, 0.8), color 1*/
/*rgba(236, 230, 196, 0.8), color 2*/
/*rgba(12, 12, 4, 0.8), color 3*/

#main{
    -fx-background-image: url("../images/mainBackground.jpg");
}

#secondary{
    -fx-background-image: url("../images/secondaryBackground.jpg");
}

#searchInput{
    -fx-background-color: rgba(53,89,119,0.6);
    -fx-text-inner-color: white;
}

#searchResultsList {
    -fx-background-color: rgba(53,89,119,0.7);
}

#searchResultsList .list-cell {
    -fx-text-fill: rgba(16, 27, 49, 0.8);
    -fx-background-color: transparent;
}

#listOfCitationFilesListView {
    -fx-background-color: transparent;
}

#citationsText{
    -fx-text-color: rgba(16, 27, 49, 0.8);
}

#listOfCitationFilesListView .list-cell {
    -fx-text-fill: rgba(16, 27, 49, 0.8);
    -fx-background-color: transparent;
}

#descriptionTextArea {
    -fx-text-inner-color: rgba(12, 12, 4, 0.8);
}

#originTextArea{
     -fx-text-inner-color: rgba(236, 230, 196, 0.8);
}

#saveButton{
    -fx-text-color: rgba(12, 12, 4, 0.8);
}

#switchToTranslationButton{
    -fx-text-color: rgba(12, 12, 4, 0.8);
}

#descriptionTextArea.text-area, #originTextArea.text-area, #germanTextArea.text-area, #frenchTextArea.text-area{
    -fx-background-color: transparent;
}
#descriptionTextArea.text-area .scroll-pane, #originTextArea.text-area .scroll-pane, #germanTextArea.text-area .scroll-pane, #frenchTextArea.text-area .scroll-pane{
    -fx-background-color: transparent;
}

#descriptionTextArea.text-area .scroll-pane .viewport, #originTextArea.text-area .scroll-pane .viewport, #germanTextArea.text-area .scroll-pane .viewport, #frenchTextArea.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
#descriptionTextArea.text-area .scroll-pane .content, #originTextArea.text-area .scroll-pane .content, #germanTextArea.text-area .scroll-pane .content, #frenchTextArea.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
